@page "/designer"
@inject IJSRuntime JSRuntime
@implements IDisposable

<div style="width:100%; height:90vh" id="dsg" data-bind="dxReportDesigner: $data"></div>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeAsync<string>("JsFunctions.InitReportDesigner", "dsg");
    }

    public void Dispose()
    {
        JSRuntime.InvokeAsync<string>("JsFunctions.Dispose", "dsg");
    }
}
